<div class="courses-page">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="courses-header">
    <app-search class="courses-search"></app-search>
    <button mat-raised-button color="primary">Add course</button>
  </div>
  <div class="courses-list">
    <app-course-item
      *ngFor="let course of courses"
      [course]="course"
      (deleteCourse)="deleteCourse($event)">
    </app-course-item>
  </div>
  <button mat-raised-button color="primary" class="load-more">Load more</button>
</div>
