<mat-card class="course-card" appCourseItemBorder [createdDate]="course.createdDate">
  <mat-card-header>
    <mat-card-title>
      <span>{{course.title | uppercase}}</span>
      <mat-icon fontIcon="fa-star" fontSet="fa" [ngClass]="{ rated: course.topRated }"></mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
      <div>Duration: {{course.duration | duration}}</div>
      <div>{{course.createdDate | date}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{course.description}}
  </mat-card-content>
  <div class="course-action-buttons">
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="warn" (click)="remove()">Delete</button>
  </div>
</mat-card>
