<mat-card>
  <mat-card-header>
    <mat-card-title>{{course.title}} </mat-card-title>
    <mat-card-subtitle>
      <span>{{course.duration}}</span>
      <span>{{course.createdDate}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{course.description}}</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vel, fugit magni architecto placeat doloremque accusantium. Laborum, quasi esse eius delectus adipisci, quisquam accusantium sapiente vero sequi assumenda, repellendus expedita?
    </p>
  </mat-card-content>
  <div class="course-action-buttons">
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="warn">Delete</button>
  </div>
</mat-card>
