<div>
  <div class="course-header">
      <span>{{course.title || C}}</span>
      <span>{{course.duration}}</span>
      <span>{{course.createdDate}}</span>
  </div>
  <p>{{course.description}}</p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vel, fugit magni architecto placeat doloremque accusantium. Laborum, quasi esse eius delectus adipisci, quisquam accusantium sapiente vero sequi assumenda, repellendus expedita?
</div>
<div>
  <app-primary-button text="edit"></app-primary-button>
  <app-primary-button text="delete"></app-primary-button>
</div>
