<div class="form-wrap">
  <app-spinner-overlay [display]="display | async"></app-spinner-overlay>
  <mat-chip-list class="offer">
    <mat-chip color="primary" selected>
      <p>Only today mega cool offfffer!!! </p>
      <p>Nothig to do just login with <b>Warner@email.com</b> email and <b>ea</b> password for free access.</p>
    </mat-chip>
  </mat-chip-list>

  <mat-card>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <input matInput placeholder="Login" [formControl]="emailFormControl"/>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl"/>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <div *ngIf="serverError | async" class="mat-error">{{ serverError | async }}</div>
    </mat-card-content>
    <div class="course-action-buttons">
      <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
    </div>
  </mat-card>
</div>
