.login-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.form-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.offer {
  margin-bottom: 30px;
}
