<div class="courses-page">
  <div class="courses-header">
    <app-search class="courses-search" [searchValue]="search" (filterChange)="searchCourses($event)"></app-search>
    <a routerLink="/courses/new">
      <button mat-raised-button color="primary">Add course</button>
    </a>
  </div>

  <div *ngIf="!(courses | async).size">
    No data. Feel free to add new course.
  </div>

  <div class="courses-list">
    <app-course-item *ngFor="let course of (courses | async)" [course]="course" (deleteCourse)="deleteCourse($event)">
    </app-course-item>
  </div>

  <mat-spinner *ngIf="coursesLoading | async"></mat-spinner>
  <app-spinner-overlay [display]="showOverlay | async"></app-spinner-overlay>
  <button mat-raised-button color="primary" class="load-more" *ngIf="!search" [disabled]="coursesLoading | async" (click)="loadMore()">Load more</button>
</div>

<router-outlet></router-outlet>
