:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  width: 1850px;
  margin: 30px auto;
}

@media screen and (max-width: 1850px) {
  .content {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1700px) {
  .content {
    max-width: auto;
  }
}

@media screen and (max-width: 1380px) {
  .content {
    max-width: 925px;
  }
}

@media screen and (max-width: 950px) {
  .content {
    max-width: 600px;
  }
}
