:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  max-width: 1850px;
  margin: 30px auto;
}

@media screen and (max-width: 1850px) {
  .content {
    max-width: 1700px;
  }
}

