@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
}

// $custom-typography: mat-typography-config(
//   $headline: mat-typography-level(32px, 48px, 700),
//   $body-1: mat-typography-level(16px, 24px, 500),
//   $button: mat-typography-level(16px, 16px, 500)
// );

// @include mat-core($custom-typography);
