$fa-font-path: '../node_modules/font-awesome/fonts';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body {
  margin: 0;
  height: 100%;
}

// $custom-typography: mat-typography-config(
//   $headline: mat-typography-level(32px, 48px, 700),
//   $body-1: mat-typography-level(16px, 24px, 500),
//   $button: mat-typography-level(16px, 16px, 500)
// );

// @include mat-core($custom-typography);
