<form class="edit-form" [formGroup]="courseForm">
  <mat-form-field>
    <mat-label>Title:</mat-label>
    <input matInput placeholder="Course title" formControlName="title" />
    <mat-error *ngIf="courseForm.controls.title.hasError('maxlength')">
      Title must be less then 50 symbols
    </mat-error>
    <mat-error *ngIf="courseForm.controls.title.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description:</mat-label>
    <textarea matInput placeholder="Description" formControlName="description" class="description-input"></textarea>
    <mat-error *ngIf="courseForm.controls.title.hasError('maxlength')">
      Title must be less then 500 symbols
    </mat-error>
    <mat-error *ngIf="courseForm.controls.description.hasError('required')">
      Date is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="small-input">
    <app-date-input formControlName="date" appDateValidator class="inner-field"></app-date-input>
    <mat-error *ngIf="courseForm.controls.date.hasError('date') && !courseForm.controls.date.hasError('required')">
      Date format must be 'mm/dd/yyyy'
    </mat-error>
    <mat-error *ngIf="courseForm.controls.date.hasError('required') && !courseForm.controls.date.hasError('date')">
      Date is required
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field class="small-input">
      <app-duration-input formControlName="duration" appNumberValidator class="inner-field"></app-duration-input>
      <mat-error *ngIf="courseForm.controls.duration.hasError('number')">
        Duration must be a number
      </mat-error>
      <mat-error *ngIf="courseForm.controls.duration.hasError('required')">
        Duration is required
      </mat-error>
    </mat-form-field>
    {{courseForm.value.duration | duration }}
  </div>
  <mat-form-field>
    <app-authors-input formControlName="authors" appAuthorsValidator class="inner-field"></app-authors-input>
    <mat-error *ngIf="courseForm.controls.authors.hasError('authors')">
      Authors are required. Need at least one author.
    </mat-error>
  </mat-form-field>
</form>
<div class="course-action-buttons">
  <button mat-raised-button color="primary" (click)="saveCourse()" [disabled]="isDisabled()">Save</button>
  <button mat-raised-button color="warn" (click)="cancelSave()">Cancel</button>
</div>
