.edit-form {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.small-input {
  width: 250px;
}

.description-input {
  height: 100px;
}

:host /deep/ .mat-chip-list-wrapper {
  margin: 5px 0;
}

:host /deep/ mat-label {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.course-action-buttons button {
  margin-right: 15px;
}


.inner-field /deep/ .mat-form-field {
  width: 100%;
}

.inner-field /deep/ .mat-form-field-wrapper {
  padding: 0;
}

.inner-field /deep/ .mat-form-field-infix {
  padding-bottom: 0;
}

.inner-field /deep/ .mat-form-field-underline,
.inner-field /deep/ .mat-form-field-subscript-wrapper {
  display: none;
}
